.body {
    
}

.container {

}

.main{
    display: flex;
    flex-direction: row;
} 

.right-cide {
    background-color: #435d8d;
    color: white;
}

.left-cide{
    font: bold Cabin, sans-serif; 
}

.contact {
    
}

.title-contact {
    
}

.title-contact::before {
    
}

.phon {
    

.email {

}

.adress {
     
}

.education {
    
}

.education::before {
    
}

.title-education {
    
}

.p-education {
    
}

.name {
    
}

.title-name {
    font: bold 50px Cabin, sans-serif;
    margin: 400;
}

.p-title-name {
    
}

.profil {
    
} 

.title-profil {
    
}

.title-profil::before {
    
}

.p-profil {
    
}

.skils {
    
}

.title-skils {
    
}

.title-skils::before {
    
}

.p-skils {
    
}

.Courses {
    
}

.title-courses {
    
}                              
 
.title-courses::before {
    
}

.p-courses {
    
}

.lenguages {
    
}

.title-lenguages::before {
    
} 

.title-lenguages {
    
}

.p-lenguages {
    
}

.footer {
    margin-top: auto;
    background-color: #324569;
}


.footer-a {

}

.footer-icon {
    
}